[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.3,>=4.2"
wagtail = "==5.1.2"
python-dotenv = "*"
psycopg2 = "*"
qrcode = {extras = ["pil"], version = "*"}
djangorestframework = "*"
coreapi = "*"
pygments = "*"
drf-yasg = "*"
firebase-admin = "*"
django-rest-knox = "*"
python-webpack-boilerplate = "*"

[dev-packages]

[requires]
python_version = "3.11"
